@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar{
  display: none;
}
main {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 150%);
} 

#header {
 width: 100%;
 height: 35vh;
 background-image: url(img/pok%C3%A9mon.png), linear-gradient(120deg, rgba(239, 239, 199, 0.712) 0%, rgba(103, 191, 235, 0.579) 100%), url(img/pokebola.png);
 background-repeat: no-repeat;
 background-position: top;
 background-attachment: fixed;
 
}
.encabezado{
  animation: encabezado 1s ease-in-out infinite alternate;
  -webkit-animation: encabezado 1s ease-in-out infinite alternate;
}
@keyframes encabezado {
  from {
    box-shadow: 0 0 10px rgb(245, 247, 126), 0 0 20px rgb(235, 243, 120), 0 0 30px #5780f1, 0 0 40px #214097, 0 0 50px #111ed8, 0 0 60px #092b75, 0 0 70px #020f46;
  }
  
  to {
    box-shadow: 0 0 20px rgb(241, 243, 148), 0 0 30px #c8d366, 0 0 40px #1668e2, 0 0 50px #5066e4, 0 0 60px #0f35e2, 0 0 70px #102999, 0 0 80px #1505ee;
  }
}
.flex {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  flex-wrap: wrap;
  margin: 30px 20px 15px 20px;
  padding: 10px 10px 5px 5px;
  background-color: rgba(33, 208, 208, 0.675);
  width: 170px;
  height: 200px;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  box-shadow: 8px 8px 8px #3308677b;
}
@keyframes card {
  from {
    box-shadow: 0 0 5px rgb(245, 247, 126), 0 0 10px rgb(235, 243, 120), 0 0 15px #5780f1, 0 0 20px #214097, 0 0 25px #111ed8, 0 0 30px #092b75, 0 0 35px #020f46;
  }
  
  to {
    box-shadow: 0 0 10px rgb(241, 243, 148), 0 0 15px #c8d366, 0 0 20px #1668e2, 0 0 25px #5066e4, 0 0 30px #0f35e2, 0 0 35px #102999, 0 0 40px #1505ee;
  }
}
.card:hover  {
background-color: rgba(105, 9, 202, 0.484);
box-shadow: 8px 8px 8px #3308677b;
animation: card 1s ease-in-out infinite alternate;
-webkit-animation: card 1s ease-in-out infinite alternate;
}
.card-imagen{
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}
.card-body-title {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 1px;
  color:#f4f1f8;
  text-shadow:5px 5px 5px #7e05f7;
  font-size: 23px;
}
.ordenar, .ordenar2{
  margin: 10px 2px 2px 2px;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 30px;
  background-color: #1215d1;
  box-shadow: 8px 8px 5px #e5fd09c7;
  text-align: center;
  font-family:'Carter One', cursive;
  color:#f4f1f8;
  text-shadow: 5px 5px 5px #0f0f0fef;
  font-size: 17px;
  justify-content: center;
}

.ordenar:hover  {
  background-color: rgb(36, 183, 228);
  }
.ordenar2:hover{
  background-color: rgb(36, 183, 228);
}
.botones {
 display: flex;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
}
.home{
  width: 70px;;
  height:70px;
  display: flex;
}

.buscador {
  width: 50%;
  height: 50px;
  background-color: rgb(236, 236, 247);
  border-radius: 30px;
  margin: 10px 8px 10px 15px;
  border: none;
  box-shadow: 8px 8px 5px #e5fd09c7;
  text-align: center;
  font-family:'Carter One', cursive;
  color:gray;
  font-size: 17px;
  justify-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.cardTipos{
  margin: 0 20px 15px 20px;
  padding: 20px 20px 20px 20px;
  background-color: rgba(33, 208, 208, 0.675);
  width: 40%;
  height: 100%;
  border-radius: 10px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  -ms-border-radius: 5;
  -o-border-radius: 5;
  box-shadow: 8px 8px 8px #ae0bee7b;
  font-family: 'Anton', sans-serif;
  color: #fbfcff;
  font-size: 20px;  
  text-shadow: 2px 2px 3px rgb(15, 15, 15);
  object-fit: cover;
  }
.cardTipos-imagen{
 margin:0 2px 2px 20px;
 background-color: #2d09fa;
 width: max-content;
 height: auto;
 border-radius: 20px;
 transform: scaleX(-1);
}
.cardTipos-title{
  margin: 0 2px 2px 8px;
  font-family: 'Luckiest Guy', cursive;
  text-shadow:5px 5px 5px #7e05f7;
  font-size: 30px;
  letter-spacing: 1px;
}
.tipo{
  margin: 0 2px 2px 8px;
  width: 100%;
  height: max-content;
  border-radius: 5px;
  background-color: #2d09fa91;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  letter-spacing: 1px;
  
} 
.about{
  width: 100%;
  height: 100%;
  margin: 0 5px 2px 8px;
  border-radius: 10px;
  background-color: #2d09fa91;
  letter-spacing: 1px;
} 
.resistencia{
  background-color: #2d09fa91;
  border-radius: 5px;
  margin: 0 2px 2px 8px;
  width: 100%;
  height: max-content;
  color:greenyellow;
  letter-spacing: 1px;
}
.debilidades{
  background-color: #2d09fa91;
  margin: 0 2px 2px 8px;
  border-radius: 5px;
  width: 100%;
  height: max-content;
  color: rgb(231, 66, 16);
  letter-spacing: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.flex2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  
}
#cerrar{
  display: flex;
  flex-direction: row-reverse;
}
.selectorTipos{
  width: 90px;
  height: 50px;
  margin: 10px 10px 20px 10px;
  border-radius: 35px;
  border: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  box-shadow: 8px 8px 5px #e5fd09c7;
  text-shadow: 5px 5px 5px #0f0f0fef;
  font-family:'Carter One', cursive;
  color:rgb(243, 236, 236);
  background-color:#1215d1;
  font-size: 15px;
  text-align: center;
}
.card-body-tipo{
  color: rgb(69, 39, 6);
  margin-top: 2px;
  background-color: rgb(3, 244, 128);
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  border-radius: 10px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media screen and (max-width:800px){
  
  #header {
    height: 33vh;
    justify-content: center;
    object-fit: cover;
  } 
  .botones {
    height: 80px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
  }
 .buscador {
  width: 80%;
  height: 40px;
  margin-top: 0;
 }
 .card{
  margin-top:0;
 }
 .cardTipos{
  width: 80%;
  height: 100%;
  margin-top: 0;
  padding: 2px 2px 2px 2px;
}
 .flex{
  margin-top: 50px;
}
.ordenar, .ordenar2{
    width: 120px;
    height: 40px;
    margin: 5px 18px 10px 0;
    font-size: 11px;
    font-family: arial;
    box-shadow: 3px 3px 2px #e5fd09c7;
    justify-content: space-around;
 }
  .cardTipos-imagen{
    width: max-content;
    height: auto;
    font-size: 10px;
 }
   .cardTipos-title{
     font-size: 25px;
 }
   .tipo{
     width: 80%;
  } 
   .about{
     width: 80%;     
   } 
   .resistencia{
     width: 80%;
   }
   .debilidades{
     width: 80%;
   }
   .selectorTipos{
    width: 100px;
    height: 38px;
    margin: 5px 12px 0 8px;
    padding: 0;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
}
   .home{
    width:50px;
    height: 50px;
    margin-left: 0;
  }
}
@media screen and (max-width:500px){
  #header {
    width: 100%;
    height: 25vh;
    background-size: contain;;
  }
  .botones {
    height: max-content;
    position: -webkit-sticky;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row-reverse;
  }
   .cardTipos{
     width: 80%;
     height: 100%;
     margin-top: 0;
     padding: 2px 2px 2px 2px;
  }
    .buscador{
     width: 78%;
     height: 30px;
     margin: 5px 10px 0 0;
     justify-content: center;
     align-items: center;
    }
    .selectorTipos{
      width: 78px;
      height: 38px;
      margin: 10px 10px 0 8px;
      padding: 0;
      border-radius: none;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      -ms-border-radius: none;
      -o-border-radius: none;
}
    .home{
      width:40px;
      height: 40px;
      margin-left: 0;
    }
    .ordenar, .ordenar2{
      width: 70px;
      height: 38px;
      margin: 10px 10px 10px 8px;
    }
}